<div class="container-fluid">
  <div class="card mb-3">
    <div class="row g-2">
      <div class="col-md-4">
        <img
          src="\assets\bolsa-de-croche-fio-de-malha-preta-roma-croche.jpg"
          class="img-fluid rounded-start"
          alt="..."
        />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h1 class="card-title">Rocambole</h1>
          <p class="card-text">
            Bolsa produzida com linha número 5.<br />
            Fecho magnético, alça personalizavel (corrente ou crochê) <br />e
            fivelas de aco galvanizado.
          </p>
          <h2>R$: 189,90</h2>
        </div>
        <div class="d-flex flex-column- align-items-end">
          <button
            type="button"
            class="btn btn-outline-info"
            [routerLink]="['/produto/catalogo']"
          >
            Voltar para o catálogo
          </button>
      </div>
      </div>
    </div>
  </div>
</div>
