<div class="cont">
  <div class="esquerda"><app-dashnav></app-dashnav></div>
  <div class="direita">
    <div class="container">
      <h2 class="centralizar-texto">Gestão de Usuários</h2>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Id</th>
        <th>Nome</th>
        <th>E-mail</th>
        <th>UserName</th>
        <th>Ativo</th>
        <th>Tipo</th>

        <th>
          <div>
            <a
            class="btn btn-success"
              [routerLink]="['/cadastro']"
              queryParamsHandling="preserve"
              >Adicionar</a
              >
            </div>
        </th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let usuario of this.listaUsuarios">
        <td>{{ usuario.id }}</td>
        <td>{{ usuario.nome }}</td>
        <td>{{ usuario.email }}</td>
        <td>{{ usuario.userName }}</td>
        <td>{{ usuario.ativo ? "Sim" : "Não" }}</td>
        <td>
          {{ usuario.tipo == "administrador" ? "Administrador" : "Usuário" }}
        </td>
        <td>
          <!-- Botão de Edição -->
          <a
          class="btn btn-primary"
          [routerLink]="['/usuario/edicao', usuario.id]"
          >Editar</a
          >

          <!-- Botão para alterar status -->
          <a
            class="btn"
            [ngClass]="{
              'btn-danger': usuario.ativo,
              'btn-warning': !usuario.ativo
            }"
            (click)="this.alterarStatus(usuario)"
            >{{ usuario.ativo ? "Desativar" : "Ativar" }}</a
          >
        </td>
        <td class="protc">
          <a
          (click)="this.confirmarExcluir(usuario.id)"
          >



            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
              <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
              <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
            </svg>

          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
</div>

<!-- <div class="container-fluid">
  <h2 class="centralizar-texto">Listagem de usuários</h2>

  <div class="container-fluid d-flex justify-content-end"></div>

  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Id</th>
          <th>Nome usuário</th>
          <th>E-mail</th>
          <th>Ativo</th>
          <th>Tipo</th>
          <th>
            <a
              class="btn btn-success"
              style="margin-bottom: 10px"
              [routerLink]="['/usuario/cadastro']"
              queryParamsHandling="preserve"
              >Adicionar</a
              >
          </th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let usuario of this.listaUsuarios">
          <td>{{ usuario.id }}</td>
          <td>{{ usuario.nomeUsuario }}</td>
          <td>{{ usuario.email }}</td>
          <td>{{ usuario.ativo ? "Sim" : "Não" }}</td>
          <td>
            {{ usuario.tipo == "administrador" ? "Administrador" : "Usuário" }}
          </td>
          <td>

            <a
              id="editar"
              class="btn btn-primary btn-sm"
              [routerLink]="['/usuario/cadastro/', usuario.id]"
              >Editar</a
            >


            <a
              id="excluir"
              class="btn btn-sm"
              [ngClass]="{
                'btn-danger': usuario.ativo,
                'btn-warning': !usuario.ativo
              }"
              (click)="this.alterarStatus(usuario)"
              >{{ usuario.ativo ? "Desativar" : "Ativar" }}</a
            >
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div> -->
