.centralizar-texto {
  text-align: center;
}


.btn-success{
  width: 155px;
  border-radius: 8px;

  }
  .btn-primary{
  border-radius: 8px 0px 0px 8px ;

  }
  .btn-danger{
  border-radius: 0px 8px 8px 0px ;
  width: 90px;



  }
  .btn-warning{
  border-radius: 0px 8px 8px 0px ;
  width: 90px;
  }



  svg{
    cursor: pointer;
  }
  svg:hover{
    color:red;

  }
  .container{
    margin-top: 20px;
  }
