<body class="fundo">
  <div class="container">
    <div class="row justify-content-center mt-9">
      <div class="col-md-9">
        <div class="card">
          <div class="card-body">
            <div class="img">
              <a
                class="navbar-brand animate__animated animate__pulse animate__infinite"
                id="titulo"
                >Gicele Bollmann</a
              >
            </div>

            <form
              [formGroup]="this.formulario"
              (ngSubmit)="this.submeterForm()"
              novalidate
              [ngClass]="{ submitted: this.formSubmetido }"
            >
              <div class="row">
                <div class="form-group col-sm-12">
                  <label class="form-control-label label-obrigatorio"
                    >Nome
                  </label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Preencha um nome de usuário"
                    formControlName="nome"
                  />
                  <app-validator
                    [formSubmitted]="this.formSubmetido"
                    [errors]="this.formulario?.get('nome')?.errors"
                  ></app-validator>
                </div>

                <div class="form-group col-sm-12">
                  <label class="form-control-label label-obrigatorio"
                    >E-mail</label
                  >
                  <input
                    type="email"
                    class="form-control"
                    placeholder="Preencha um e-mail"
                    formControlName="email"
                  />
                  <app-validator
                    [formSubmitted]="this.formSubmetido"
                    [errors]="this.formulario?.get('email')?.errors"
                  ></app-validator>
                </div>
                <div class="form-group col-sm-12">
                  <label class="form-control-label label-obrigatorio"
                    >UserName</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Preencha um UserName"
                    formControlName="username"
                  />
                  <app-validator
                    [formSubmitted]="this.formSubmetido"
                    [errors]="this.formulario?.get('email')?.errors"
                  ></app-validator>
                </div>

                <div class="form-group col-sm-12">
                  <label class="form-control-label label-obrigatorio"
                    >Telefone
                  </label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Preencha o telefone"
                    formControlName="telefone"
                    mask="(00) 0000-00000"
                  />
                  <app-validator
                    [formSubmitted]="this.formSubmetido"
                    [errors]="this.formulario?.get('telefone')?.errors"
                  ></app-validator>
                </div>

                <div class="form-group col-sm-12 col-md-12 col-lg-6">
                  <label class="form-control-label label-obrigatorio"
                    >Senha</label
                  >
                  <input
                    type="password"
                    class="form-control"
                    placeholder="Preencha uma senha"
                    formControlName="senha"
                  />
                  <app-validator
                    [formSubmitted]="this.formSubmetido"
                    [errors]="this.formulario?.get('senha')?.errors"
                  ></app-validator>
                </div>

                <div class="form-group col-sm-12 col-md-12 col-lg-6">
                  <label class="form-control-label label-obrigatorio"
                    >Senha
                  </label>
                  <input
                    type="password"
                    class="form-control"
                    placeholder="Repita a senha"
                    formControlName="conf"
                  />
                  <app-validator
                    [formSubmitted]="this.formSubmetido"
                    [errors]="this.formulario?.get('conf')?.errors"
                  ></app-validator>
                </div>

                <div class="form-group col-sm-12 action-buttons">
                  <a
                    class="btn btn-secondary float-left"
                    [routerLink]="['login']"
                    queryParamsHandling="preserve"
                    >Voltar</a
                  >
                  <button
                    type="submit"
                    class="btn btn-primary float-right"

                  >
                    Salvar
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
