<body class="fundo">
  <div class="container">
    <div class="row justify-content-center mt9">
      <div class="col-md-9">

          <div class="card-body">


            <form
              [formGroup]="this.formulario"
              (ngSubmit)="this.submeterForm()"
              novalidate
              [ngClass]="{ submitted: this.formSubmetido }"
            >
              <div class="row">
                <div class="form-group col-sm-12">
                  <label class="form-control-label label-obrigatorio"
                    >Nome
                  </label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Preencha um nome de usuário"
                    formControlName="nome"
                  />
                  <app-validator
                    [formSubmitted]="this.formSubmetido"
                    [errors]="this.formulario?.get('nome')?.errors"
                  ></app-validator>
                </div>

                <div class="form-group col-sm-12">
                  <label class="form-control-label label-obrigatorio"
                    >E-mail</label
                  >
                  <input
                    type="email"
                    class="form-control"
                    placeholder="Preencha um e-mail"
                    formControlName="email"
                  />
                  <app-validator
                    [formSubmitted]="this.formSubmetido"
                    [errors]="this.formulario?.get('email')?.errors"
                  ></app-validator>
                </div>
                <div class="form-group col-sm-12">
                  <label class="form-control-label label-obrigatorio"
                    >UserName</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Preencha um UserName"
                    formControlName="userName"
                  />
                  <app-validator
                    [formSubmitted]="this.formSubmetido"
                    [errors]="this.formulario?.get('userName')?.errors"
                  ></app-validator>
                </div>

                <div class="form-group col-sm-12">
                  <label class="form-control-label label-obrigatorio"
                    >Telefone
                  </label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Preencha o telefone"
                    formControlName="telefone"
                    mask="(00) 0000-00000"
                  />
                  <app-validator
                    [formSubmitted]="this.formSubmetido"
                    [errors]="this.formulario?.get('telefone')?.errors"
                  ></app-validator>
                </div>


                <div class="form-group col-sm-12 col-md-12 col-lg-6">
                  <label class="form-control-label label-obrigatorio"
                    >Tipo de usuário</label
                  >
                  <select class="form-control" id="tipo" formControlName="tipo">
                    <option value="usuario">Usuário</option>
                    <option value="administrador">Administrador</option>
                  </select>
                  <app-validator
                    [formSubmitted]="this.formSubmetido"
                    [errors]="this.formulario?.get('tipo')?.errors"
                  ></app-validator>
                </div>

                <div class="form-group col-sm-12 action-buttons">
                  <a
                    class="btn btn-secondary float-left"
                    [routerLink]="['/usuario/listagem']"
                    queryParamsHandling="preserve"
                    (click)="voltar('nada foi alterado')"
                    >Voltar</a
                  >
                  <button
                    type="submit"
                    class="btn btn-primary float-right"

                  >
                    Salvar
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

</body>

