#titulo{
  font-family: "Dancing Script";
  font-size: 30px;
  margin-right: 50px;

}
nav{
  background-color: steelblue;
}


.navbar-custom {

  background-color: steelblue;
  box-shadow: -1px 3px 8px   rgb(73, 75, 75);
}




















.spacer{
font-size: small;

  text-align: right;
  margin-left: auto;
  margin-top: 2px;


}
.abalogado{

  margin-top: none;
  margin-left: auto;

  font-size: small;
  text-align: center;


}
svg{
  margin-left:  3px;
  margin-right:  3px;
}




